/******************************TAG SELECTORS***********************************/
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 130%;
  background-color: #EFFFFD;
}

h1 {
  color: #F2FA5A;
  font-size: 5.3125rem;
  width: 20%;
  margin:0 auto 0 auto;
  /*Horizontal center*/
  font-family: 'Indie Flower', cursive;
}

h2 {
  color: #F2FA5A;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  padding-top: 5px;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
}

h3 {
  color: #0E4606;
  font-weight: normal;
}

p{
  color: #0E4606;
}

hr{
  border-style: dotted none none;
  width: 8%;
  height: 30px;
  border-color: grey;
  border-width: 5px;
}

/********************************CLASS SELECTORS*******************************/
.top_container {
  background-color: #533E85;
  padding-left: 0;
  padding-right: 0;
  padding-top: 45px;
  position: relative;
}

.middle_container {
  padding-top: 50px;
  padding-bottom: 50px;

}

.bottom_container{
  padding-top: 20px;
  text-align: center;
  background-color: #66BFBF;

}

.stars {
  position: absolute;
  left: 100px;
  bottom: 600px;
  width: 5%;
}

.moon {
  position: absolute;
  right: 100px;
  top: 10px;
  width: 15%;
  height: 20%;
}

.pro {
  text-decoration: underline;
}

.profile{
  padding-top: 10px;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.code{
  width: 30%;
  float: left;
  margin-right: 30px;
}

.rocknroll{
  width: 50%;
  float: right;
  margin-left: 30px;
}

.btn{
  background: #3498db;
 background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
 background-image: -moz-linear-gradient(top, #3498db, #2980b9);
 background-image: -ms-linear-gradient(top, #3498db, #2980b9);
 background-image: -o-linear-gradient(top, #3498db, #2980b9);
 background-image: linear-gradient(to bottom, #3498db, #2980b9);
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff;
 font-size: 20px;
 padding: 10px 20px 10px 20px;
 text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer-link{
  font-family: sans-serif;
  color: #11999E;
}

.copyright{
  font-family: serif;
  font-size: 20px;
  color: #EAF6F6;
}

/*.coding_para{
  clear: left;
}

.music_para{
  clear: right;
}
*/
