/******************************TAG SELECTORS***********************************/
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  ;
}

h1 {
  width: 10%;
  margin: 0 auto;
  /*Horizontal center*/
  font-family: 'Shadows Into Light', cursive;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

/********************************CLASS SELECTORS*******************************/
.top_container {
  background-color: #533E85;
  padding-left: 0;
  padding-right: 0;
  padding-top: 200px;
  position: relative;
}

.middle_container {
  padding-top: 50px;

}

.botton_container {

}

.stars {
  position: absolute;
  left: 300px;
  bottom: 500px;
}

.moon {
  position: absolute;
  right: 300px;
  top: 10px;
}

.pro {
  text-decoration: underline;
}

.profile{
  padding-top: 10px;
}
